---
layout: default
---

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <div class="post-meta">
        <div>{% if post.author %} {{ post.author }}{% endif %}</div>
        <div>{{ post.date | date: "%d/%m/%Y" }}</div>
      </div>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
      <strong><a href="{{ post.url | prepend: site.baseurl }}">Συνέχεια...</a></strong>
    </li>
  {% endfor %}
</ul>
