

<footer class="container site-footer">
  <div class="wrapper">
    <a href="https://vetrian.com">vetrian.com - εφαρμογή διαχείρησης κτηνιατρείου</a><br>
    <a href="http://groups.google.com/group/vetrian">vetrian google group - το φόρουμ του vetrian</a><br>
    <a href="http://three99.com">three99.com - σχεδιασμός και ανάπτυξη λογισμικού</a>
  </div>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script>
  $(".page-header").fitText(0.7);
</script>
