

// @import url("http://fonts.googleapis.com/css?family=Open+Sans:700,300,400&subset=latin,greek");
@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,greek");
@import url("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700");


body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  // font-weight: 400;
  line-height: 1.8;
  margin: 0;
  background: #d9e0e7;
  color: #444;
  overflow-x: hidden;
  // &::after {
  //   content: "";
  //   display: block;
  //   width: 500px;
  //   height: 494px;
  //   background: url("/img/stamp2.png") no-repeat;
  //   position: absolute;
  //   top: -80px;
  //   right: 75%;
  //   opacity: .9;
  // }
}

.page-header {
  background: darken(#d9e0e7, 10%);
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  line-height: .6;
  letter-spacing: 5px;
  a {
    color: #d9e0e7;
    position: relative;
    top: -3px;
    text-decoration: none;
  }
}

.tagline {
  line-height: 1;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  color: #FFF;
  position: relative;
  top: 0;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  position: relative;
  z-index: 1;
  background: #FFF;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  min-height: 600px;
  box-shadow: 0 0 4px darken(#d9e0e7, 20%);
  border-radius: 2px;
}

.post-list {
  list-style: none;
  margin: 0 auto;
  max-width: 600px;
  padding: 100px 0;
  li {
    padding: 15px 15px 30px;
    margin-bottom: 30px;
    border-bottom: 2px rgba(0,39,59,.08) solid;
    &:last-child {
      border-bottom: 0;
    }
  }
  h2 {
    font: 700 1.5em/1 'Open Sans Condensed', sans-serif;
    margin: 0 0 15px 0;
    a {
      color: #444;
    }
  }
  .post-meta {
    float: right;
    color: #AAA;
    font-size: .8em;
  }
}

a {
  color: #00C0C0;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.post {
  background: #FFF;
  padding: 100px 0;
  margin: 0 auto;
  max-width: 600px;
  .post-meta {
    color: #AAA;
    font: 700 1.3em/1 'Open Sans Condensed', sans-serif;
  }
  img {
    max-width: 100%;
  }
  h2 {
    margin-top: 60px;
    font: 700 1.6em/1 'Open Sans Condensed', sans-serif;
  }
}

.post-header {
  text-align: center;
  margin-bottom: 80px;
}

.post-image {
  margin-top: -50px;
}

.post-title {
  margin: 0;
  font: 300 2.8em/1 'Open Sans Condensed', sans-serif;
}

.site-footer {
  position: relative;
  z-index: 0;
  max-width: 1040px;
  background: lighten(#d9e0e7, 4%);
  border-radius: 0 0 2px 2px;
  margin: 0 auto 100px;
  font: 700 1.3em/1 'Open Sans Condensed', sans-serif;
  .wrapper {
    max-width: 600px;
    line-height: 2;
    margin: 0 auto;
    padding: 60px 30px;
    a {
      color: #444;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
