

@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,300,400&subset=latin,greek-ext");
@import url("http://fonts.googleapis.com/css?family=Oswald:400");


body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  margin: 0;
  background: #DFDFD3;
  color: #444;
}

.page-header {
  background: #FFF;
  padding: 100px 30px;
  text-align: center;
  font-weight: 300;
  font-size: 3em;
  color: #DFDFD3;
  line-height: 1;
  small {
    font-size: .4em;
  }
}

.container {
  background: #FFF;
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
}

.post {
  background: #FFF;
  padding: 100px 0;
  margin: 0 auto;
  max-width: 600px;
}

.post-header {
  text-align: center;
  margin-bottom: 80px;
}

.post-title {
  margin: 0;
  font: 400 2.5em/1 'Oswald', sans-serif;
}

.post-meta {
  font-size: .8em;
}

.site-footer {
  background: #444;
  color: #FFF;
  padding: 100px 30px;
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    a {
      color: #FFF;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
