

@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,300,400&subset=latin,greek");
@import url("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700");


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.8;
  margin: 0;
  background: #DFDFD3;
  color: #444;
}

.page-header {
  background: #444;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  line-height: .6;
  a {
    color: #DFDFD3;
    position: relative;
    top: -5px;
    text-decoration: none;
  }
}

.tagline {
  // text-transform: uppercase;
  // text-align: right;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  color: #FFF;
  position: relative;
  top: 64px;
  max-width: 1050px;
  margin: 0 auto;
  // letter-spacing: 10px;
}

.container {
  background: #FFF;
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  min-height: 600px;
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 15px;
    border-bottom: 1px #DFDFD3 solid;
  }
  h2 {
    font: 400 1.5em/1 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
  }
  a {
    color: #444;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .post-meta {
    float: right;
    color: #DFDFD3;
  }
}

.post {
  background: #FFF;
  padding: 100px 0;
  margin: 0 auto;
  max-width: 600px;
}

.post-header {
  text-align: center;
  margin-bottom: 80px;
}

.post-title {
  margin: 0;
  font: 400 2.5em/1 'Yanone Kaffeesatz', sans-serif;
}

.post-meta {
  font-size: .8em;
}

.site-footer {
  background: #444;
  color: #FFF;
  padding: 100px 30px;
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    a {
      color: #FFF;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
